PRODUCT_LOOKUP_URL_TEMPLATE=http://localhost:8080/products/{barcode}
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/
BARCODE_INPUT_QUEUE=scanned_barcodes
SHOPPING_LIST_QUEUE=shopping_list_items
MISSING_BARCODES_QUEUE=missing_barcodes
HTTP_TIMEOUT_MS=5000
RABBITMQ_CONNECTION_TIMEOUT_MS=10000
RABBITMQ_HEARTBEAT_SECONDS=30
RETRY_INITIAL_DELAY_MS=1000
RETRY_MAX_DELAY_MS=30000
